@import '../../../variable.scss';

.border-less-date{
    border: none;
    border-bottom: 1px solid $input-border-color;
    min-width: $input-min-length;
    border-radius: $input-border-radius;
  }
  .border-less-date:focus{
    border: none;
    border-bottom: 1px solid $input-border-color;
    box-shadow: none;
  }