<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">{{ messageTitle }}</h5>
        </div>
        <div class="modal-body text-center" [innerHtml]="messageBody"></div>
        <div class="modal-footer">
            <div class="d-flex buttons">
                <div class="pr-5 right-border"><button type="button" (click)="onCancelClick()" class="btn btn-link">{{
                        cancelButtonText }}</button></div>
                <div class="pl-5"> <button type="button" (click)="onContinueClick()" class="btn btn-link">{{
                        continueButtonText }}</button></div>
            </div>
        </div>
    </div>

</div>