<div *ngIf="formInput.question" class="form-group" [formGroup]="formInput.form">
    <h2 class=" text-center mt-3 mb-3"><span *ngIf="isQuestionTextEmpty() && !isOptionalQuestion()" class="asterisk">*</span>{{formInput.question.title}}</h2>
    <div class="question row"><span *ngIf="!isQuestionTextEmpty() && !isOptionalQuestion()" class="asterisk">*</span>{{formInput.question.text}}
    </div>
    <div class="radio-box-container">
        <label class="" [ngStyle]="{'opacity': disabled ? '0.5' : '1' }"
            *ngFor="let opt of formInput.question.answerFormat.textChoices">
            <input type="radio" class="" (change)="onChange()" [formControl]="formInput.form.controls[questionId]"
                [name]="questionId" [value]="opt.value" />
            <i class="fa fa-check"></i>
            <span>{{opt.text}}</span>
        </label>
    </div>
</div>