@import '../../../variable.scss';
.question {
    @extend .question;
    text-align: justify;
    // justify-content: center;
    // padding-left: $padding-left-15;
    // padding-right: $padding-right-15;
}

.form-check-input {
    margin-right: $margin-right-10;
}

div {
    .radio-box-container {
        label {
            display: block;
            // border-bottom: 1px solid $checkbox-border-color;
            // margin-bottom: $margin-bottom--2;
            cursor: pointer;
            word-break: break-word;
            // padding-top: $checkbox-container-margin-top;
            min-height: $checkbox-container-min-height;
            // margin-bottom: $checkbox-container-margin-bottom;
            font-weight: $font-600;
            margin-left: $margin-left-8;
            input+i {
                visibility: hidden;
                color: $primary-color;
                margin-left: $input-i-margin-left;
                margin-right: $input-i-margin-right;
                float: right;
                margin-top: $input-i-margin-top;
                font-size: $input-i-font-size;
            }
            span {
                display: inline-block;
                vertical-align: top;
                line-height: $checkbox-span-line-height;
                width: $checkbox-span-width;
                overflow-wrap: break-word;
            }
            input:checked+i+span {
                color: $primary-color;
                font-size: $answer-option-font-size;
                font-weight: $font-600;
            }
            input:checked+i {
                visibility: visible;
            }
        }
    }
}

@media screen and (max-width:320px) {
    div {
        .radio-box-container {
            label {
                display: block;
                margin-bottom: $margin-bottom--2;
                cursor: pointer;
                height: auto;
                margin-top: $checkbox-container-margin-top;
                padding-bottom: $checkbox-container-margin-bottom;
                font-weight: $font-600;
                margin-left: $margin-left-8;
                word-break: break-word;
                span {
                    width: $checkbox-span-width;
                    word-break: break-word;
                    font-size: $answer-option-font-size;
                    font-weight: $font-600;
                }
                input+i {
                    margin-top: $input-i-margin-top-0;
                }
            }
        }
    }
}

@media (min-width:321px) and (max-width:480px) {
    div {
        .radio-box-container {
            label {
                display: block;
                // border-bottom: 1px solid rgba(0, 0, 0, .1);
                margin-bottom: $margin-bottom--2;
                cursor: pointer;
                height: auto;
                word-break: break-word;
                margin-top: $checkbox-container-margin-top;
                padding-bottom: $checkbox-container-margin-bottom;
                font-weight: $font-600;
                margin-left: $margin-left-8;
                span {
                    width: $checkbox-span-width;
                    word-break: break-word;
                    font-size: $answer-option-font-size;
                    font-weight: $font-600;
                }
                input+i {
                    margin-top: $input-i-margin-top-0;
                }
            }
        }
    }
}