<div class="form-group">
    <h2 class=" text-center mt-3 mb-3">Limited Movement Without Extra Bone Growth</h2>
    <div class="question">At the time of Enrollment in the registry, have you had limited movement in the body region
        without extra bone growth?</div>
    <div class="radio-box-container">
        <label>
            <input type="radio" id="booleananswer1Id" name="radioinput" value="true" />
            <i class="fa fa-check"></i>
            <span>Yes</span>
        </label>
        <label>
            <input type="radio" id="booleanAnswer2Id" name="radioinput" value="false" />
            <i class="fa fa-check"></i>
            <span>No</span>
        </label>
    </div>
</div>
