<div *ngIf="formInput.question" class="form-group" [formGroup]="formInput.form">
    <h3 class="text-center mt-3 mb-3"><span *ngIf="isQuestionTextEmpty() && !isOptionalQuestion()" class="asterisk">*</span>{{formInput.question.title}}</h3>
    <label class="control-label question row"><span *ngIf="!isQuestionTextEmpty() && !isOptionalQuestion()" class="asterisk">*</span>{{formInput.question.text}}
    </label>
    <div class="check-box-container">
        <!-- <label [formArrayName]="questionId" [ngStyle]="{'opacity': disabled ? '0.5' : '1' }" *ngFor="let opt of formInput.question.answerFormat.textChoices; let textChoiceIndex=index">
            <input [formControlName]="textChoiceIndex" [checked]="isChecked(opt.value)" type="checkbox"
                (change)="onCheckboxChanged($event,opt)" [value]="opt.value" />
            <i class="fa fa-check"></i>
            <span>{{opt.text}}</span>
        </label> -->
        <div class="custom-control custom-checkbox" [formArrayName]="questionId" [ngStyle]="{'opacity': disabled ? '0.5' : '1' }" *ngFor="let opt of formInput.question.answerFormat.textChoices; let textChoiceIndex=index">
            <input type="checkbox" class="custom-control-input" [formControlName]="textChoiceIndex" [checked]="isChecked(opt.value)" type="checkbox" (change)="onCheckboxChanged($event,opt)" [value]="opt.value" [id]="opt.value">
            <label class="form-label custom-control-label" [for]="opt.value">{{opt.text}}</label>
        </div>
    </div>
</div>