<div  class="form-group" >
    <h2 class=" mt-3 mb-3 text-center">Extra Bone Growth</h2>
    <p class="question ml-3 text-center">No. 1</p>
    <p class="question ml-3 text-center">Locations of symptoms</p>
    <select class="form-control border-less-select text-center" >
        <option  >Select an answer </option>
        <option>Head</option>
        <option>Jaw</option>
        <option>Under the jaw area</option>
        <option>Neck</option>
        <option>Upper Back</option>
    </select>
</div>
