
@import '../../../variable.scss';

.border-less-select{
  border: none;
  border-bottom: 1px solid $input-border-color;
  min-width: $input-min-length;
  max-width: $width-100;
}
.border-less-select:focus{
  border: none;
  border-bottom: 1px solid $input-border-color;
  box-shadow: none;
}
.text-center{
  justify-content: center;
}
.control-label{
  width: fit-content;
  flex-grow: 1;
  min-width: $control-label-min-width;
}

.question{
  font-size: $body-font-size;
  font-weight: $font-500;
}

.inline{
  display: inline;
}
.row {
  *{
    padding-left: $padding-left-0;
    padding-right: $padding-right-0;
  }
}