@import '../../../variable.scss';
.validation-success {
    position: absolute;
    font-size: 1rem;
    color: #0253a2;
    text-align: center;
    top: 1rem;
    right: 1rem;
}

.validation-unsuccess {
    position: absolute;
    font-size: 1rem;
    color: #f45229;
    text-align: center;
    top: 1rem;
    right: 1rem
}

.question {
    @extend .question;
}

.border-less-input,
.border-less-input:focus,
.border-less-input:hover,
.border-less-input:focus-visible {
    border: none;
    outline: none;
    width: inherit;
}

.custom-form-control {
    border: 1px solid #E1DCDC;
    border-radius: 12px !important;
    width: 100%;
    outline: none;
    height: 2.5rem;
    padding: 0.5rem;
}

.control-label {
    width: fit-content;
    flex-grow: 1;
    min-width: $control-label-min-width;
    font-weight: 600;
    font-size: 1.1rem;
}

.inline {
    display: inline;
    flex-grow: 1;
    min-width: 50%;
}

.form-control {
    min-width: $control-label-min-width;
    width: auto;
}

#displayStaticModal {
    top: 3rem;
}