@import '../../../variable.scss';
.modal-footer {
  @extend .modal-footer;
    justify-content: center !important;  
}
.btn-link {
    display: block;
    margin:$button-margin;
    margin-top: $margin-top-10;
    background-color: $primary-background-color;
    border: none !important;
    color: $primary-color;
    width: $button-width;
    text-decoration: none;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: $modal-dialog-mobile-width;
        margin: $modal-dialog-mobile-margin;
    }}
    .modal-dialog {
        position: relative;
        width: $modal-dialog-width;
        margin: $modal-dialog-margin;
        pointer-events: none;
        margin:auto;
    }
    .parent-container{
        position: fixed;
        width: $width-100;
        top: $top-0;
        z-index: 999999;
        bottom: $bottom-0;
        left: $left-0;
        right: $right-0;
        background: linear-gradient($modal-backdrop-background, $modal-backdrop-background);
    }
 