$Primary-border-color:#0056a5;
$modal-title-width:100%;
$button-background-color:#fff;
$modal-header-padding:0.5rem 0.5rem;
$modal-bottom-border:0px solid #dee2e6;
$modal-dialog-top-margin:35% !important;