
<div  class="form-group" >
  
    <div class="question mt-3">IN GENERAL, WOULD YOU SAY YOUR HEALTH IS:</div>
    <div class="scale-container">
    <label>
        <input type="radio" name="scaleinput"   />
           <i class="fa fa-check"></i>
        <span class="inputlabel">Excellent</span><span class="input-mark">-</span>
    </label>
    <label>
        <input type="radio" name="scaleinput"  />
            <i class="fa fa-check"></i>
        <span class="inputlabel">Very Good</span><span class="input-mark">-</span>
    </label>
    <label>
        <input type="radio" name="scaleinput"  />
            <i class="fa fa-check"></i>
        <span class="inputlabel">Good</span><span class="input-mark">-</span>
    </label>
    <label>
        <input type="radio" name="scaleinput"  />
            <i class="fa fa-check"></i>
        <span class="inputlabel">Fair</span><span class="input-mark">-</span>
    </label>
    <label>
        <input type="radio" name="scaleinput"  />
            <i class="fa fa-check"></i>
        <span class="inputlabel">Poor</span><span class="input-mark">-</span>
    </label>
    </div>
</div>


<div  class="form-group" >
  
    <div class="question mt-3">IN GENERAL, WOULD YOU SAY YOUR HEALTH IS:</div>


    <div class="d-flex">
        <div class=" ">
            <ul class="ul-labels-left">
                <li>-</li>
                <li>-</li>
                <li>-</li>
                <li>-</li>
                <li>-</li>
            </ul>
        </div>
        <div class=" ">
            <div class="slide-container ">
                <input type="range" min="0" max="100" step="25" value="0" class="slider" id="myRange">
               
              </div>
        </div>
        <div class=" ">
            <ul class="ul-labels">
                <li>- <span>Excellent</span></li>
                <li>- <span>Very Good</span></li>
                <li>-<span> Good</span></li>
                <li>- <span>Fair</span></li>
                <li>- <span>Poor</span></li>
            </ul>
        </div>
      
      </div>

    
     
      
 


</div>



