<div class="form-group" >
    <div>
            <div class="row">
                <h5 class="text-center mt-3 question">When did you first notice loss of jaw movement?</h5>
            </div>
            <div class="d-flex justify-content-center" >  
            <div class="question w-100 inlineBlock">
                <label class="inputLabel mt-1">Number of Months</label>
                <input type="number" maxlength="2" min="1" max="12" pattern="[0-9]*" inputmode="numeric" class="borderlessinput mt-1 input-number"/>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <h5 class="text-center mt-3 question">When did you first notice loss of jaw movement?</h5>
        </div>
        <div class="d-flex justify-content-center" >  
        <div class="question w-100 inlineBlock">
            <label class="inputLabel mt-1">Number of Months/Years</label>
            <input type="number" maxlength="2" min="1" max="70" pattern="[0-9]*" inputmode="numeric" class="border-less-input mt-1 input-number"/>
            <select class="border-less-select form-control">
                <option>Months</option>
                <option>Years</option>
            </select>
        </div>
    </div>
</div>
</div>