<div class="row survey-header" id="static-header" >
    <div class="col backButton" onclick="previous()">
        <i class="fas fa-chevron-left back-icon"></i> 
    </div>
            <div class="col d-flex justify-content-center">
                <div class="progress-circle" id="progressBar">
                    <span class="two btn pieTimer" id="test"></span>
                    <div class="left-half-clipper">
                        <div class="first50-bar"></div>
                        <div class="value-bar"></div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-end cancel-button" id="cancel" >
                Cancel
            </div>
    </div>
