<div class="primary-div row my-0">
    <div class="col-12 d-none d-md-flex flex-column col-md-3 survey-info-header">
        <h1>Custom Form 2</h1>
        <span>Section 2 of 2</span>
    </div>
    <div class="col-12 col-md-6 card-parent">
        <div class="card-body">
            <!-- <span>{{formHeaderTitle}}</span> -->
            <app-form-renderer></app-form-renderer>
        </div>
        <div class="progress-bar-container">
            <div class="progress-bar-parent">
                <app-form-line-progress-bar-with-no-percent></app-form-line-progress-bar-with-no-percent>
            </div>
            <button class="nav-btn prev-btn">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <button class="nav-btn next-btn">
                <i class="fa-solid fa-arrow-right"></i>
                
            </button>
        </div>
    </div>
    <div class="col-12 col-md-3">
    </div>
</div>