<div class="primary-div row my-0">
    <div class="col-12 d-none d-md-flex flex-column col-md-3 survey-info-header">
        <h1><span class="section-title">{{formService.readSurveyFromJson(surveyResponse.survey.internalIdentifier, surveyResponse.survey.initiatingEventInterval, surveyResponse.responseOrdinal)}}
          &nbsp;</span></h1>
        <span>Section {{getCurrentSection()}} of {{getTotalSections()}}</span>
    </div>
    <div class="col-12 col-md-6 card-parent">
        <div class="card-body">
            <!-- <span>{{formHeaderTitle}}</span> -->
            <app-form-renderer></app-form-renderer>
        </div>
        <div class="progress-bar-container">
            <div class="progress-bar-parent">
                <app-form-line-progress-bar-with-no-percent></app-form-line-progress-bar-with-no-percent>
            </div>
            <button class="nav-btn prev-btn" (click)="onPrev()" [disabled]="checkPrev()">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <button class="nav-btn next-btn" (click)="onNext()" [disabled]="checkNext()">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="col-12 col-md-3 third-col ">
        &nbsp;

    </div>
</div>
