<div  class="form-group" >
    <h3 class="text-center mt-3 mb-3"></h3>
    <div class="question">What were the first FOP signs and/or symptoms that you experienced? Check all that apply.</div>
    <div class="check-box-container">
    <label>
        <input  type="checkbox"  />
            <i class="fa fa-check"></i>
        <span >Extra Bone growth (heterotopic ossification)</span>
    </label>
    <label>
        <input  type="checkbox"  />
            <i class="fa fa-check"></i>
        <span >Restricted joint movement</span>
    </label>
    <label>
        <input  type="checkbox"  />
            <i class="fa fa-check"></i>
        <span >Short, malformed toes</span>
    </label>
    <label>
        <input  type="checkbox"  />
            <i class="fa fa-check"></i>
        <span >Severe changes in toe length</span>
    </label>
    <label>
        <input  type="checkbox"  />
            <i class="fa fa-check"></i>
        <span >Short thumbs</span>
    </label>
    <label>
        <input  type="checkbox"  />
            <i class="fa fa-check"></i>
        <span >Thumbs tha are missing the middle joint</span>
    </label>
    <label>
        <input  type="checkbox"  />
            <i class="fa fa-check"></i>
        <span >Swelling on the scalp and the forehead</span>
    </label>
    </div>
</div>
