.loading-text {
    color: #4b749b;
    font-size: 1.2rem;
}
.loading-svg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #ffff;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}
.loading-svg > object {
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 50%;
}
.w-103{
    width: 103%;
    overflow-y: hidden;
    overflow-x: hidden;
}
body,html{
    overflow: hidden;
}