<div class="form-group">
  <h3 class="text-center mt-3 mb-3"></h3>
  <div class="question">Select a image from the following:</div>
  <div class="image-container mt-3">
    <label class="image pr-3">
      <input type="radio" name="radioinput" />
      <img src="../../../assets/images/informed-consent/benifits-participating.svg" />
    </label>
    <label class="image pr-3">
      <input type="radio" name="radioinput" />
      <img src="../../../assets/images/informed-consent/clinical-trials.svg" />
    </label>
    <label class="image pr-3">
      <input type="radio" name="radioinput" />
      <img src="../../../assets/images/informed-consent/Data-Privacy-Rights.svg" />
    </label>
    <label class="image pr-3">
      <input type="radio" name="radioinput" />
      <img src="../../../assets/images/informed-consent/Data-collection-usage.svg" />
    </label>
    <label class="image pr-3">
      <input type="radio" name="radioinput" />
      <img src="../../../assets/images/informed-consent/participation.svg" />
    </label>
  </div>
</div>