
<div id="questions" class="mt-top">
<app-header></app-header>
    <div class="q0" id="question1Id">
        <app-instruction></app-instruction>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit" onclick="startSurvey()"  id="surveyQuestion1">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q1" id="question2Id" style="display:none">
        <app-date></app-date>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"   id="surveyQuestion2">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q2" id="question3Id" style="display: none;">
        <app-boolean></app-boolean>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"   id="surveyQuestion3">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q3" id="question4Id" style="display:none">
        <app-textarea></app-textarea>
        <footer class="fixed-bottom">
            <div class="buttons  mt-3 mb-3">
                <button class="btn btn-primary" type="submit"  id="surveyQuestion4">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q4" id="question5Id" style="display: none;">
        <app-image-selection></app-image-selection>
        <footer class="fixed-bottom">
            <div class="buttons  mt-3 mb-3">
                <button class="btn btn-primary" type="submit"  id="surveyQuestion5">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q5" id="question6Id" style="display:none">
        <app-textbox></app-textbox>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"  id="surveyQuestion6">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q6" id="question7Id" style="display:none">
        <app-checkbox></app-checkbox>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"  id="surveyQuestion7">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q7" id="question8Id" style="display:none">
        <app-multivaluepicker></app-multivaluepicker>
        <footer class="fixed-bottom">
            <div class="buttons  mt-3 mb-3">
                <button class="btn btn-primary" type="submit"  id="surveyQuestion8">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q8" id="question9Id" style="display:none">
        <app-textchoice-single></app-textchoice-single>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"  id="surveyQuestion9">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q9" id="question10Id" style="display: none;">
        <app-timeoftheday></app-timeoftheday>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"  id="surveyQuestion10">
                    Next
                </button>
   
            </div>
        </footer>
    </div>
    <div class="q10" id="question11Id" style="display: none;">
        <app-email></app-email>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit" disabled   id="surveyQuestion11">
                    Next
                </button>
        
            </div>
        </footer>
    
    </div>
    <div class="q11" id="question12Id" style="display: none;">
        <app-number></app-number>
        <footer class="fixed-bottom">
            <div class="buttons  mt-3 mb-3">
                <button class="btn btn-primary" type="submit"  id="surveyQuestion12">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q12" id="question13Id" style="display:none">
        <app-radio></app-radio>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"  id="surveyQuestion13">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q13" id="question14Id" style="display:none">
        <app-select></app-select>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"  id="surveyQuestion14">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q14" id="question15Id" style="display:none">
        <app-validatedtext></app-validatedtext>
       
    </div>
    <div class="q15" id="question16Id" style="display:none">
        <app-textscale></app-textscale>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"  id="surveyQuestion16">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q16" id="question17Id" style="display:none">
        <app-file-upload></app-file-upload>
        <footer class="fixed-bottom">
            <div class="buttons  mt-3 mb-3">
                <button class="btn btn-primary" type="submit"  id="surveyQuestion17">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q16"  id="question18Id" style="display:none">
        <app-image-selection-vertical></app-image-selection-vertical>
        <footer class="fixed-bottom">
            <div class="buttons  mt-3 mb-3">
                <button class="btn btn-primary" type="submit"  id="surveyQuestion18">
                    Next
                </button>
        
            </div>
        </footer>
    </div>
    <div class="q17" id="question19Id" style="display:none">
        <app-loading></app-loading>
        <footer class="fixed-bottom">
            <div class="buttons  mt-3 mb-3">
                <button class="btn btn-primary" type="submit"  id="surveyQuestion19">
                    Next
                </button>
        
            </div>
        </footer>

    </div>
    <div class="q18" id="question20Id" style="display:none">
        <app-completion></app-completion>
        <footer class="fixed-bottom">
            <div class="buttons mt-3 mb-3">
                <button class="btn btn-primary " type="submit"  id="surveyQuestion19">
                    Next
                </button>
        
            </div>
        </footer>

    </div>
   
</div>
