@import '../../../variable.scss';
.multiple-pickers {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 600;
}

.question {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.questionTitle {
    text-align: center;
}

.multi-picker-parent {
    gap: 45px;
    ;
}